/* import '@flaticon/flaticon-uicons/css/all/all.css'; */

:root {
    --primary-color: #09469f;
    --animate-delay: 1s;
    --animate-repeat: 1;
    --primary-color-from: #09469f;
    --primary-color-to: #09469f;
    --secondary-color-from: #ec6c21;
    --secondary-color-to: #88370998;
    --third-color-from: #cfb40b;
    --third-color-to: #a19124b7;
}

.bg-primary {
    background-color: var(--primary-color);
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 72%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11111111;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.readonly {
    background: #ddd !important;
    /* border: 1px #ddd; */
}

.dimmer {
    position: relative;
}

.dimmer .loader {
    display: none;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dimmer.active .loader {
    display: block;
}

.dimmer.active .dimmer-content {
    opacity: 0.04;
    pointer-events: none;
}

.loader-img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 43%;
    left: 0;
    margin: 0 auto;
    text-align: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.loader {
    width: calc(100px - 14px);
    height: 50px;
    border-radius: 50px;
    background: radial-gradient(farthest-side, #0000 calc(100% - 15px), #ccc calc(100% - 14px) 99%, #0000) left,
        radial-gradient(farthest-side, #0000 calc(100% - 15px), #ccc calc(100% - 14px) 99%, #0000) right;
    background-size: calc(50% + 7px) 100%;
    background-repeat: no-repeat;
    position: relative;
    animation: l10-0 1s infinite linear;
}

.loader:before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f03355;
    transform-origin: -14px 50%;
    animation: l10-1 0.5s infinite linear;
}

@keyframes l10-0 {

    0%,
    49.99% {
        transform: scaleX(1);
    }

    50%,
    100% {
        transform: scaleX(-1);
    }
}

@keyframes l10-1 {
    100% {
        transform: rotate(1turn);
    }
}

.text-danger {
    color: #f82649 !important;
}

.max-w-md {
    max-width: 50rem !important;
}

.cshop-sale-height {
    max-height: 400px !important;
    overflow: auto;
}

.c-grades-height {
    max-height: 400px;
    overflow: auto;
    background-color: #f0f2f7 !important;
}

.nodata-image {
    max-height: 350px;
    max-width: 350px;
    margin: auto;
}

.rdt_TableHeadRow {
    font-size: 14px;
    line-height: 1.75rem;
    background-color: #f6f8fa !important;
    font-weight: bold !important;
}

/* .rdt_TableBody {
    overflow: auto;
    height: 410px;
} */
/* .rdt_TableBody {
    min-height: 410px;
} */

.text-lg {
    font-size: 14px !important;
}

.swal2-icon .swal2-icon-content {
    font-size: 3.75em !important;
}

/* .form-input:focus,
.form-textarea:focus,
.form-select:focus,
.form-multiselect:focus {
    color: #0e1726 !important;
} */

.text-white-dark {
    color: #0e1726 !important;
}

.text-3xl {
    font-size: 17px !important;
}

.form-check-input {
    --bs-form-check-bg: #f8f9fa;
    width: 1.5em;
    height: 1.5em;
    background-color: #e0e0f9;
    background-image: var(--bs-form-check-bg-image);
    border: 1px solid #dee2e6;
}

.checkboxtitle {
    font-size: 18px;
    margin-left: 10px;
    font-weight: 500;
}

span.checkbox-title {
    margin-left: 10px;
    font-weight: 500;
    line-height: 27px;
}

label.form-check-label {
    margin-left: 8px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 500;
}

.offcanvas.offcanvas-end {
    width: 700px;
}

.form-switch .form-check-input {
    width: 3.5em;
    height: 1.8em;
}

.div-end {
    display: flex;
    justify-content: end;
    gap: 11px;
}

.form-check.form-check-inline.mb-2 {
    display: flex;
    justify-content: start;
}

.btn-dark {
    background-color: #09469f !important;
    border: #09469f !important;
}

.btn-primary {
    background: linear-gradient(90deg, var(--primary-color-from), var(--primary-color-to));
}

/* .form-input,
.form-textarea,
.form-select,
.form-multiselect {
border-color: none;

} */

.permissions-list {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
}

.permissions-list .permission-item {
    flex: 1 0 25%;
    /* Each item takes up 25% of the container's width */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

/* Optional: Add some padding or margin to items for better spacing */
.permissions-list .permission-item {
    padding: 10px;
}

.pointer {
    cursor: pointer;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconcenter {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.flexend {
    display: flex;
    justify-content: end;
    align-items: end;
}


.flexspacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexspacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media (min-width: 768px) {
    .flexspacebetween {
      display: block;
    }
  } */
@media (max-width: 768px) {
    .flexspacebetween {
        display: block;
    }
}

.labelclick {
    cursor: pointer;
    background: #ddd;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: 'pointer';
}

.horizontal-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* Adjust the value as needed */
}

.horizontal-menu li {
    margin: 1px;
    /* Adjust the value as needed */
    list-style: none;
    /* Remove default list styles if necessary */
}

.boxminheight {
    min-height: 300px;
    max-height: 300px;
    background: #e7e8e9;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-y: auto;
}

.heading-div {
    color: #fff;
    margin-bottom: 10px;
    padding: 10px !important;
    background: #09469f;
}

.form-input {
    border: 1px Solid #ddd !important;
    border-radius: 7px !important;
}

.horizontal-menu .nav-link {
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
}

li.menu.nav-item.relative {
    margin-left: 6px !important;
}

.panel {
    border-radius: 0px !important;
}

.btn {
    border-radius: 0px !important;
}

.horizontal-menu .nav-link {
    border-radius: 0px !important;
}

.btn-gradient {
    background: linear-gradient(18deg, rgba(8, 70, 154, 1) 0%, rgba(54, 116, 200, 1) 62%, rgba(121, 178, 255, 1) 100%) !important;
    color: white;
    /* Add other styles as needed */
}

.btn-gradient:hover {
    background: linear-gradient(18deg, rgba(54, 116, 200, 1) 0%, rgba(8, 70, 154, 1) 100%) !important;
    /* Define hover effect if needed */
}

.bg-indigo-600 {
    border-radius: 0px !important;
    background: linear-gradient(90deg, var(--primary-color-from), var(--primary-color-to));
}

.bg-red-600 {
    background: linear-gradient(90deg, var(--secondary-color-from), var(--secondary-color-to));
    border-radius: 0px !important;
}

.rounded-md {
    border-radius: 0px !important;
}

.form-input {
    /* border: 1px Solid #ddd !important; */
    border-radius: 0px !important;
}

/* Ensure this CSS is included in your project */

body.swal2-toast-shown .swal2-container.swal2-top {
    top: 0;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100% !important;
}

.swal2-container.swal2-top>.swal2-popup {
    grid-column: 2;
    align-self: start;
    justify-self: auto !important;
}

/* styles.css or your preferred stylesheet */

.error-toast {
    background-color: #f44336;
    /* Red background for error messages */
    color: white;
    /* White text color */
    border-color: #d32f2f;
    /* Darker red border color */
}

.success-toast {
    background-color: #4caf50;
    /* Green background for success messages */
    color: white;
    /* White text color */
    border-color: #388e3c;
    /* Darker green border color */
}

.toast-title {
    font-weight: bold;
    font-size: 16px;
}

.toast-message {
    font-size: 14px;
}

body.swal2-toast-shown .swal2-container.swal2-top {
    width: 100% !important;
    padding: 0px !important;
    border-radius: 0px !important;
}

.swal2-container .swal2-popup.swal2-toast {
    --tw-bg-opacity: 1;
    background-color: green;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.swal2-container .swal2-popup.swal2-toast {
    --tw-bg-opacity: 1;
    background-color: green !important;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.swal2-popup.swal2-toast.error-toast.swal2-icon-error.swal2-show {
    background: #a00000 !important;
    border-radius: 0px;
}

.swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
    background-color: #fff !important;
}

.swal2-container.swal2-top>.swal2-popup {
    border-radius: 0px;
}

.custom-close-button {
    margin-right: 100px;
    /* Set the margin for the close button */
    background-color: #0000 !important;
}

.form-select {
    border: 1px solid #ddd;
}

.fi {
    font-size: 16px;
    margin: 0px 4.5px;
}

.c-fi-down-arrow {
    position: relative;
    top: 4px;
}

.login-password-eye-icon {
    position: absolute;
    right: 14px;
    top: 14px;
}

.firstbox {
    background: #09469f !important;
}

.secondbox {
    background: #5850a8 !important;
}

.thiredbox {
    background: #825cae !important;
}

.forthbox {
    background: #a66ab4 !important;
}

/* .gradient-blue-to-blue {
    background: #09469F !important;
} */
.bg-primary {
    background-color: #09469f !important;
}

.text-end {
    display: flex;
    justify-content: end;
}

@media only screen and (min-width: 600px) {
    .c-head-icon {
        display: none;
    }
}

.c-brand-img {
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .c-head-text {
        display: none;
    }

    .c-brand-img {
        height: 30px;
    }

    .c-profile-btn {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .nodata-image {
        max-height: 250px;
        max-width: 350px;
        margin: auto;
    }
}

.c-head-icon {
    position: relative;
    top: 3px;
}

.chat-message {
    word-wrap: break-word;
    /* This will break long words and wrap them to the next line */
    word-break: break-word;
    /* This ensures that long words will break if they don't fit in the container */
    overflow-wrap: break-word;
    /* This is an alias for word-wrap and ensures compatibility */
}

.dropdown ul {
    min-width: 195px !important;
}

.badge {
    border-radius: 0px !important;
}

.form-input,
.form-textarea,
.form-select,
.form-multiselect {
    appearance: none;
    background-color: #fff;
    border-color: #6b7280 !important;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
    min-width: 137px;
}

.multi-select>.dropdown-container {
    padding-right: 0.25rem;
    padding-bottom: 0.15rem;
    border-color: #6b7280 !important;
    border-radius: unset !important;
}

li.flexcenter.dataentrytab {
    /* display: block; */
    width: 82%;
    /* align-items: center; */
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}

.activeTab {
    border: 5px solid #ddd !important;
}

.c-border-primary {
    border-color: #4361ee !important;
}

.spacebetween {
    display: flex;
    justify-content: space-between;
}

.displaycanter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabletext-red-500 {
    --tw-text-opacity: 1;
    color: rgb(132 85 85);
    z-index: 1;
    background: #aa1f1f;
    color: #fff;
}

.c-border-primary {
    border-color: #b7b7b7 !important;
}

.hover\:border-primary:hover {
    --tw-border-opacity: 1;
    border-color: #b7b7b7 !important;
}

.errorborder {
    border: 2px solid red !important;
}

.react-datepicker-wrapper {
    width: 100%;
}

.rmdp-input {
    border: 1px solid black;
    border-radius: 2px;
    height: 53px !important;
    margin: 1px 0;
    padding: 2px 5px;
    width: 100%;
}

.rmdp-container {
    width: 100%;
}

.FuelSaleContainer {
    /* width: 7%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 15px;
    font-weight: 600;
}

/* GenericTableForm.css */
.custom-table-body .rdt_TableBody {
    /* Set your desired height */
    min-height: 100px;
    /* max-height: 300px; */
    overflow-y: auto;
    height: auto;
    /* Add scroll if content exceeds height */
}

/* styles.css or App.css */
.custom-tooltip {
    background-color: black !important;
    color: white;
    /* Optional: to ensure text contrast */
    border-radius: 4px;
    /* Optional: adds a border-radius for a smooth appearance */
    padding: 5px;
    /* Optional: adds some padding */
    max-width: 400px;
    /* Optional: sets a max-width to control the size */
    font-size: 14px;
    /* Optional: sets font size */
}

.tank_name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #09469f;
    color: #fff;
    flex-direction: column;
    padding: 0px 7px;
}

.tablecardHeight {
    height: auto;
    /* or set a specific height if needed */
    min-height: 200px;
    max-height: 300px;
    /* increased max-height to allow space for scroll */
    overflow-y: auto;
    /* allows scrolling when content exceeds max-height */
}

/* .datatables {
    min-height: 400px !important;
    max-height: 400px !important;
    overflow-y: auto;
} */

.hover\:bg-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(9 70 159);
}

img.w-full.CoverImage {
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.workflorform-input {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

body {

    background-color: #F1F4FD !important;
    font-family: Nunito, sans-serif;
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: #F1F4FD !important;
}

/* .panel {
    background-color: #fff !important;
} */

.Titlebadge {
    position: relative;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 0;
    border-width: 1px;
    border-color: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 0.75rem;
    line-height: 2rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    height: 10px !important;
}

.errorborder {
    border: 3px solid #a00000;
}

.boxcenter {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.ActionTab {
    --tw-bg-opacity: 1;
    background-color: rgb(241 244 253 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(14 23 38 / var(--tw-text-opacity));
}

.updownDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gjoprN {

    padding-left: 0px !important;
    padding-right: 4px !important;

}

.doSrUc {

    padding-left: 4px !important;
    padding-right: 16px;

}

.bFjaxh {
    min-width: 112px !important;
}

.gjoprN {
    /* min-width: 117px !important; */
}

@media (min-width: 1024px) {
    .lg\:col-span-3 {
        grid-column: span 3 / span 3;
    }
}

@media (min-width: 768px) {
    .lg\:col-span-3 {
        grid-column: span 3 / span 3;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 13px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 13px;

}

/* .sc-dAbbbq.jaZrIV.rdt_TableBody {
    overflow: hidden !important;
} */

.FuelaleList:hover {
    background-color: #ddd !important;
}

.auto-height-react-table>.Nfhbm>.BAfJj>.rdt_Table>.rdt_TableBody {
    height: auto;
}

/* use this propety for fixed height on upper class of data table  */

.fixed-height-react-table>.Nfhbm>.BAfJj>.rdt_Table>.rdt_TableBody {
    min-height: 440px;
    overflow: auto;
}

.fi-sr-comment-info {
    position: relative;
    top: 4px;
}

.fuel-sale-table-li {
    border-bottom-width: 1px;
    border-color: rgb(224 230 237 / 0.4) !important;
}

.fuel-sale-table-border {
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-divide-opacity));
    border: 1px solid rgba(0, 0, 0, 0.11);
}

/* For Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.columncenter {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 500px) {
    .c-brand-img {
        width: 150px !important;
        object-fit: contain;
    }

    .small-icon-head {
        height: 15px !important;
        width: 15px !important;
    }

    .down-arrow {
        display: none;
    }

    .custom-tooltip {
        max-width: 235px;
    }

    .dash-breadcrub-header {
        display: none;
    }

    .img-fluid {
        height: 30px !important;
        width: 50px !important;
        object-fit: contain;
    }
}

.extra-test {
    /* text-align: left; */
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.col-span-6 {
    grid-column: span 6 / span 6;
}


.form-input:focus,
.form-textarea:focus,
.form-select:focus,
.form-multiselect:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
    border-color: #2563eb !important;
}

textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
    border-color: #2563eb !important;
}

.w-100 {
    width: 100%;
}